#buttoncomp{
    height: 50px;
    background-color:rgb(79, 207, 19);
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    cursor: pointer;
    color: rgb(39, 39, 39);
    /* position: relative;
    top: 100px; */
    margin: 20px;
}
#buttoncomp:hover {
    background-color:rgb(46, 173, 57);
    /* color: white; */
}
/* #buttonicon{
    background-image: url(icon1.png);
    width: 20px;
    height: 20px;
    background-position: center;
    background-size: cover;
    opacity: 70%;
} */