#picid{
    background-color: yellow;
    width: 360px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}
#picid > div{
    width: 50px;
    height: 50px;
    margin: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#picid img{
    width: 50px;
    height: auto;
}
.text{
    font-size: 13px;
}
#whole{
    width: 360px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#questiontext{
    height: 50px;
    font-size: 20px;
}