#picid2 .first {
    background-color: rgb(187, 247, 255);
}
#picid2 .second {
    background-color:rgb(125, 240, 248);
}
#picid2 .third {
    background-color: rgb(45, 215, 245);
}
#picid2 .first:hover {
    background-color: rgb(122, 219, 223);
}
#picid2 .second:hover {
    background-color:rgb(79, 218, 223);
}
#picid2 .third:hover {
    background-color: rgb(31, 193, 221);
}