#picid3 .first {
    background-color: rgb(253, 223, 179);
}
#picid3 .second {
    background-color: rgb(250, 196, 116);
}
#picid3 .third {
    background-color: rgb(250, 143, 56);
}
#picid3 .first:hover {
    background-color: rgb(233, 204, 160);
}
#picid3 .second:hover {
    background-color: rgb(230, 177, 97);
}
#picid3 .third:hover {
    background-color:  rgb(228, 121, 33);
}