#whole{
    width: 360px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#picid3 .iconback {
     border-radius: 10px;
     padding: 0 0 0px 0;
    width: 100px;
    height: 90px;
    cursor: pointer;
}
#picid3 > div{
    width: 50px;
    height: 50px;
    margin: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#picid3 img{
    width: 50px;
    height: auto;
}
.text{
    font-size: 15px;
}
#questiontext{
    height: 50px;
    font-size: 20px;
}
