.usericon {
    max-width: 100px;
    max-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.name {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 50px;
}

.page {
    max-width: 360px;
}