.graph {
    max-width: 100px;
    max-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li {
    color: red;
}

.analysispage{
    width: 360px;
    background-color:lightgray;
}