.tipsicons img{
    width: 50px;
    margin: 0px 20px 0px -30px;
}
.tipsicons{
    width: 70px;
    margin: 10px;
    display: flex;
    align-items: center;
    position: relative;
    right: 35px;
    font-size: 20px;
    font-weight: bold;
}
.tipsicons:hover{
    color:rgb(143, 85, 18);
    font-size: 23px;
    cursor: pointer;;
}
#tipborder{
    width: 300px;
    height: 300px;
    background-color: rgb(241, 241, 241);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
}

