#homeapp{
    width: 360px;
    height: 710px;
    background-color: rgb(252, 252, 252);
    display: flex;
    flex-direction: column;
    align-items: center;
}
#hometext{
    position: relative;
    top: 100px;
    width: 250px;
    text-align: center;
    font-size: 20px;
}
#app{
    max-width: 360px;
    height: 710px;
    background-color: rgb(252, 252, 252);
    display: flex;
    flex-direction: column;
    align-items: center;
}
#tipapp{
    max-width: 360px;
    height: 710px;
    background-color: rgb(252, 252, 252);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.questionbutton{
    position: relative;
    top: 80px;
}
.homebutton{
    position: relative;
    top: 230px;
}
.tipbutton{
    position: relative;
    bottom: 50px;
}
#tiptitle{
    margin: -50px 0px;
}
.resultbox{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 150px;
    background-color: rgb(241, 241, 241);
    border-radius: 30px;
}
.second{
    height: 120px;
}
.third{
    height: 180px;
}