
#homeapp{
    width: 360px;
    height: 710px;
    background-color: rgb(252, 252, 252);
    display: flex;
    flex-direction: column;
    align-items: center;
}
#hometext{
    position: relative;
    top: 100px;
    width: 250px;
    text-align: center;
}
#app{
    max-width: 360px;
    height: 710px;
    background-color: rgb(252, 252, 252);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.questionbutton{
    position: relative;
    top: 80px;
}
.homebutton{
    position: relative;
    top: 230px;
}
.resultbutton{
    position: relative;
    top: 230px;
}