#app{
    max-width: 360px;
    height: 640px;
    background-color: rgb(250, 250, 250);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#homeapp{
    width: 360px;
    height: 680px;
    background-color: rgb(250, 250, 250);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

Header{
    position: relative;
    top: -175px;
}
Button{
    position: relative;
    bottom: -130px;
}
